## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS
.vs/
.idea/
*.swp
*~

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Publish
*.Publish.xml
publish/
